.container-fluid {
    height: 100vh;
    display: flex;
  }
  
  .sidebar {
    max-width: 25%;
    /* position: fixed; */
    /* Add your sidebar styles here */
  }
  
  .main-content {
    flex-grow: 1; /* Ensure the main content fills the remaining space */
  }